<h2>{{ 'app.positions' | translate }}</h2>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{{ 'app.positions.name' | translate }}</th>
            <th scope="col">{{ 'app.positions.cost' | translate }}</th>
            <th scope="col">{{ 'app.positions.active' | translate }}</th>
            <th scope="col" class="text-right">{{ 'app.positions.action' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let position of positions">
            <td>{{ position.name }}</td>
            <td>{{ position.cost }}</td>
            <td>{{ position.active | isActive | translate }}</td>
            <td class="text-right text-nowrap">
                <button
                        type="button"
                        class="btn btn-sm btn-primary margin-right-sm"
                        (click)="openDetail(position)">
                    {{ 'app.button.edit' | translate }}
                </button>
                <button
                        type="button"
                        class="btn btn-sm btn-danger"
                        (click)="remove(position)">
                    {{ 'app.button.delete' | translate }}
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-right text-nowrap">
        <button
                type="button"
                class="btn btn-sm btn-info"
                (click)="add()">
            {{ 'app.button.add' | translate }}
        </button>
    </div>

    <ng-container *ngIf="alertVisible">
        <app-alert dismissible="true" [type]="alertType" [message]="alertMessage"></app-alert>
    </ng-container>
</div>
