.bup-week-calendar__custom-day
  text-align: center
  padding: 0.185rem 0.25rem
  border-radius: 0.25rem
  display: inline-block
  width: 2rem

.bup-week-calendar__highlighted
  background-color: #e34a45
  border-radius: 0.25rem
  color: white

.hidden
  color: #d0d0d0

.bup-week-calendar__today
  background-color: #fdd4bb
  border-radius: 0.25rem
