<h2>{{ 'app.hours' | translate }}</h2>
<div>
    <form [formGroup]="form" novalidate (ngSubmit)="test()">
        <app-week-calendar
                formControlName="weekDayCalendar"
                [highlightedDays]="highlight"
                [showWeekNumber]="true">
        </app-week-calendar>
        <button ngbButton type="submit">Search</button>
    </form>

    <app-table *ngIf="hoursView"
            [data]="hoursView"
            [columns]="columns"
            (add)="add()"
            (edit)="openDetail($event)"
            (remove)="remove($event)"></app-table>

    <ng-container *ngIf="alertVisible">
        <app-alert dismissible="true" [type]="alertType" [message]="alertMessage"></app-alert>
    </ng-container>
</div>
