<h2>{{ 'app.project.detail' | translate }}</h2>
<div class="container">

    <form [formGroup]="form" novalidate>
        <div class="row">
            <div class="flex-column mr-2">
                <app-text-input
                        label="app.projects.detail.description"
                        formControlName="description"
                        placeholder="app.projects.detail.description"
                        [showValidation]="false">
                </app-text-input>
            </div>

            <div class="flex-column mr-2">
                <app-select
                        label="app.projects.detail.city"
                        formControlName="city"
                        fieldKey="id"
                        fieldValue="city"
                        [showValidation]="false"
                        [items]="cities"
                        [translateText]="true"
                        [isLoading]="isLoadingData">
                </app-select>
            </div>

            <div class="flex-column mr-2">
                <app-select
                        label="app.projects.detail.cost_center"
                        formControlName="cost_center"
                        fieldKey="id"
                        fieldValue="name"
                        [showValidation]="false"
                        [items]="costCenters"
                        [translateText]="true"
                        [isLoading]="isLoadingData">
                </app-select>
            </div>

            <div class="flex-column mr-2">
                <app-text-input
                        label="app.projects.detail.cost_asset"
                        formControlName="cost_asset"
                        placeholder="app.projects.detail.cost_asset"
                        [showValidation]="false">
                </app-text-input>
            </div>

            <div class="flex-column mr-2">
                <app-text-input
                        label="app.projects.detail.typology"
                        formControlName="typology"
                        placeholder="app.projects.detail.typology"
                        [showValidation]="false">
                </app-text-input>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <button
                        type="submit"
                        class="btn btn-primary btn-block"
                        (click)="submit()"
                        [disabled]="form.invalid || isLoadingData">
                    {{ isLoadingData ? 'app.button.loading' : 'app.button.save' | translate }}
                </button>
            </div>
        </div>
    </form>
</div>

<ng-container *ngIf="alertVisible">
    <app-alert dismissible="true" [type]="alertType" [message]="alertMessage"></app-alert>
</ng-container>
