<h2>{{ 'app.cost-centers.detail' | translate }}</h2>
<div class="container">

  <form novalidate [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="flex-column mr-2">
        <app-text-input
          label="app.cost-centers.name"
          formControlName="name"
          placeholder="app.cost-centers.name"
          [showValidation]="false">
        </app-text-input>
      </div>

      <div class="flex-column mr-2">
        <app-text-input
          label="app.cost-centers.description"
          formControlName="description"
          placeholder="app.cost-centers.description"
          [showValidation]="false">
        </app-text-input>
      </div>

      <div class="flex-column mr-2">
        <app-text-input
                label="app.cost-centers.id_geo_area"
                formControlName="id_geo_area"
                placeholder="app.cost-centers.id_geo_area"
                [showValidation]="false">
        </app-text-input>
      </div>

      <div class="flex-column mr-2">
        <app-text-input
                label="app.cost-centers.garrison"
                formControlName="garrison"
                placeholder="app.cost-centers.garrison"
                [showValidation]="false">
        </app-text-input>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="form.invalid || isLoadingData">
          {{ isLoadingData ? 'app.button.loading' : 'app.button.save' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>

<ng-container *ngIf="alertVisible">
  <app-alert dismissible="true" [type]="alertType" [message]="alertMessage"></app-alert>
</ng-container>
